/* Changer la police de tous les paragraphes */
p {
    font-family: Arial, sans-serif;
    color: ghostwhite;
  }

/* Changer la police des titres h1 */
h1 {
    font-family: "Arial", sans-serif;
    color: ghostwhite;
    text-align: center;
    font-size: 60px;
}

/* Changer la police des titres h2 */
h2 {
    font-family: "arial", sans-serif;
    color: ghostwhite;
}

/* Changer la police des titres h3 */
h3 {
    font-family: "arial", sans-serif;
    color: ghostwhite;
}

.mon-bloc {
  background-color: #202020; /* Remplacez par la couleur de votre choix */
  width: 100%;
  height: 75px;
}

body {
  margin: 0; /* Supprime les marges par défaut du corps */
}

#texte-au-fond {
  position: absolute;
  bottom: 0;
  color: ghostwhite;
}

#Texte-de-présentation {
  text-align: center;
  color: ghostwhite;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Pour s'assurer que la vidéo est en arrière-plan */
}

#Lien {
  font-size: 30px; /* Changez la valeur à la taille de police souhaitée */
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
}

body {
  background-color: #202020;
}

iframe {
  background-color: #202020;
}

#ConseilsAstuces {
  text-align: center;
  color: ghostwhite;
}

a {
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
}

#Lienaufond {
  font-size: 30px; /* Changez la valeur à la taille de police souhaitée */
  color: rgb(112, 112, 255);
  font-family: Arial, sans-serif;
  position: absolute;
  bottom: 0;
}